extends layout

block content
    h1.display-4 #{title}
    h4.indentalign Welcome to #{title}.
    h4.indentalign We sell books on our store. We even accept orders online.
    h4.indentalign Address: 250 Lester Street, Waterloo.