extends layout

block content
    
    h1.display-4 Available Books

    br
    
    .row.gx-5.gy-5.row-cols-1.row-cols-md-2.row-cols-lg-3.row-cols-xl-4
        each book in books
            .column.align-self-center
                .card
                - var source = book.src
                    img.card-img-top(src=source, style="width: 18rem;")
                    .card-body
                        h4.card-title #{book.title}
                        small by
                        p.card-text #{book.author}
                        a.btn.btn-secondary(href="#") Buy

                            
